<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @labo.name %>
</p>

<p>
  <b>Docent:</b>
  <%= @labo.docent_id %>
</p>


<%= link_to 'Edit', edit_labo_path(@labo) %> |
<%= link_to 'Back', labos_path %>
