<% if !session[:user_id] %>
U bent niet bevoegd om deze pagina te bekijken
<% else %>
Welkom <strong><%=session[:user_id]%></strong>.
<%= link_to "logout",:controller => "users", :action => "logout" %>
<br />
<%= link_to 'docenten', "../users" %>
<%= link_to 'labos', "../labos" %>
<%= link_to 'studenten', "../students" %>
aanwezigheden
<br />

<h1>Listing aanwezighedens</h1>

<table>
  <tr>
    <th>Student</th>
    <th>Labo</th>
    <th>Aanwezig</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aanwezighedens.each do |aanwezigheden| %>
  <tr>
    <td><%= aanwezigheden.student_id %></td>
    <td><%= aanwezigheden.labo_id %></td>
    <td><%= aanwezigheden.aanwezig %></td>
    <td><%= link_to 'Show', aanwezigheden %></td>
    <td><%= link_to 'Edit', edit_aanwezigheden_path(aanwezigheden) %></td>
    <td><%= link_to 'Destroy', aanwezigheden, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Aanwezigheden', new_aanwezigheden_path %>

<% end %>