<% if !session[:user_id] %>
U bent niet bevoegd om deze pagina te bekijken
<% else %>
Welkom <strong><%=session[:user_id]%></strong>.
<%= link_to "logout",:controller => "users", :action => "logout" %>

<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @aanwezigheden.student_id %>
</p>

<p>
  <b>Labo:</b>
  <%= @aanwezigheden.labo_id %>
</p>

<p>
  <b>Aanwezig:</b>
  <%= @aanwezigheden.aanwezig %>
</p>


<%= link_to 'Edit', edit_aanwezigheden_path(@aanwezigheden) %> |
<%= link_to 'Back', aanwezighedens_path %>

<% end %>